@import '../../styles/abstracts/';

.root {
    
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; 
}

@media(min-width:768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}

.item {
    background-color: $color-contrast-light;
    color: $color-font-main;
    border-radius: 5px;
    padding: 20px;
    font-size: 0.8rem;
    &:nth-child(even){
      background-color: $color-contrast;
    }
}

.title, .description{
     color: $color-font-main;
    margin-bottom: 12px;
}







