
.root {
  
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    
  }

  .root div{
    background-color: pink;
  }

.root div div {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 120px  120px  120px;
  grid-template-areas:
             "name ....  date"
             "description description description";
  background-color: #fff;
  color: #444;
  display: flex;
  justify-content: center;
  flex-direction: column;
}







