.root {
  
 
}

.title {
  font-size: calc(13px + 1vh);
 
}

.paragraph {
  font-size: calc(10px + 1vh); 
  font-size: 12px;
  text-align: start;
  
}



@media(min-width: 768px) {

  .title{
    left: 42%;
    top: 70%;
    position: absolute;
    font-size: calc(12px + 1.5vh); 
  }
    .paragraph {
    font-size: calc(13px + 1.5vh); 
    left: 42%;
    top: 76%;
    position: absolute;
  }

}


