.root {
  
  margin: 0 auto;
 
  text-align: center;
  color: #fff;
}

.title{

    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center {
  justify-content: center;
}