$color-background: rgb(251, 251, 251);
$color-contrast: rgb(88, 196, 219);
$color-contrast-light: rgb(147, 228, 246);
$color-grey-light: rgb(179, 176, 176);
$color-font-main: rgb(100, 98, 98);
$color-font-contrast: rgb(57, 57, 57);