@import '../styles/variables.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: whitesmoke;
  
}

a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.container {
  background-color: $color-background;
  background: rgba(0, 0, 0, 0.2);
  color: whitesmoke;
  max-width: 100%;
  display: grid;
  min-height: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 80%;
  }
}

.font-main {
  color: $color-font-main
}

.font-contrast {
  color: $color-font-contrast
}

.title {
  font-size: calc(13px + 1vh); 
  color: $color-font-contrast;
}

.paragraph {
  font-size: calc(10px + 1vh); 
  font-size: 12px;
  text-align: start;
  font-weight: 900;
}




