.root {
    font-family: Roboto;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.h1 {
  font-size: calc(14px + 1vh);
  font-weight: 400;
  letter-spacing: 0.15000000596046448px;
}

.h2 {
  font-size: calc(12px + 1vh); 
  font-weight: 300;
  letter-spacing: 0.15000000596046448px;
}

.h3 {
  font-size: calc(10px + 1vh);
  font-weight: 200;
  letter-spacing: 0.15000000596046448px;
}

.h4 {
  font-size: calc(7px + 1vh);
  font-weight: 100;
  letter-spacing: 0.15000000596046448px;
}

.p {
  font-size: calc(8px + 1vh); 
  text-align: start;
}

@media(min-width: 768px) {
  .h1 {
    font-size: calc(25px + 1.2vh);
  }

  .h2 {
    font-size: calc(20px + 1.2vh);
  }

  .h3 {
    font-size: calc(17px + 1.2vh);
  }

  .p {
    font-size: calc(12px + 1.2vh);
  }

}

@media(max-width:768px) {
  .h1, .h2, .h3  {
    margin-bottom: 5%;
  }
}









  




.center {
  justify-content: center;
}