@import '../../styles/abstracts/';



.root {
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .skills {
    display: flex;
    > * {
        flex: 50%;
    }
  }
  
  .name {
  
      font-size: 32px;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 13px;
  
  }

  .container {
    position: relative;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.lineThird {
    position: absolute;
    top: 0px;
    left: 0px;
    // transform: translateX(-250px) translateY(150px) rotate(-90deg);
    transform: translateX(-200px) translateY(200px) rotate(-90deg);
    box-sizing: border-box;
    border: 0.2px solid $color-font-main;
    width: 400px;

    &__dots {
        width: 100%;
        position: relative;
        border: none;


    }

    .dot {
        width: 9px;
        height: 9px;
        background-color: $color-contrast;
        /* Change the color of the circles as needed */
        border-radius: 50%;
        position: absolute;
        top: 50%;
        /* Vertically center the circle on the line */
        transform: translateX(-50%) translateY(-50%);

        $element-count: 9; 
        $sum: 0%;

        @for $i from 1 through $element-count {
            $sum: $sum + calc(100% / $element-count);
            &:nth-child(#{$i + 1}) {
              left: $sum;
            }
          }
    }
}
