@import '../../styles/abstracts/';

.container {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 20px;  
    text-transform: uppercase
}

.list {
    list-style: none; 
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    grid-auto-rows: 50px; 
      &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: uppercase;
        border-left: 3px solid $color-font-main;
        height: 10px;
        font-size: 10px;
        padding: 10px;
        margin-bottom: 5px;
        margin-left: 20px;
    }
}


    




