.root {
  padding: 0 30px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {

    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;

}

