@import '../../styles/abstracts/';


.data {
    
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    text-transform: uppercase;

    &__name {
        letter-spacing: 0.1em;
        font-size: 0.8rem;
        margin: 0 0 10px 10px;
        color: $color-contrast;
    }

    &__position {
        font-size: 1rem;
        margin: 0 0 10px 15px;
    }

    &__decoration {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        width: 30%;
        margin: 0 0 10px 20px;
    }
    &__line {
        display: block;
        background-color: $color-contrast;
        margin: 0 auto;
        width: 100%;
   
        @for $i from 1 through 3 {
            &-#{$i} {
              width: #{100 - (($i - 1) * 10%)};
              height: 2px;
              margin-bottom: 5px;
            }
          }
        }
    }
      

