@import '../../styles/abstracts/';


.data {
    
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    position: relative;
    text-transform: uppercase;

    &__name {
        letter-spacing: 0.1em;
        font-size: 2.4rem;
        padding: 20px;
        color: $color-contrast;
    }

    &__position {
        font-size: 1rem;
        padding: 0 20px 20px 20px;
    }

    &__hr {
        display: block;
        height: 2px;   
        background-color: $color-contrast;
    }

    &__hr_up {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 60% - 40px);
        height: 2px;
        left: calc(30% - 40px);
    }

    &__hr_center{
        position: absolute;
        bottom: 10px;
        width: calc(100% - 70% - 40px);
        left: calc(35% - 40px);
    }

    &__hr_down {
        position: absolute;
        bottom: 0px;
        width: calc(100% - 80% - 40px);
        left: calc(40% - 40px);
    }
}
