@import '../../styles/abstracts/';

.header {
    background: $color-background;
    color: $color-font-main;
    min-height: 400px;
    display: flex;
    width: 100%;
    @include respond(tablet) {
        height: 75vh;
      }
      > * {
        width: 50%;
        height: 100%;
    }
}

.mainProfilePhoto {
    float: left;
   margin: 20px;
   width: calc(100% - 40px);
   height: calc(100% - 40px);
}

@media(min-width:768px) {
    img {
        display: block;
        -webkit-clip-path: polygon(100% 0, 100% 35%, 80% 66%, 35% 80%, 0 63%, 0 0);
        clip-path: polygon(100% 0, 100% 35%, 80% 66%, 35% 80%, 0 63%, 0 0);
    }
}

.imageContainer {
    background-image: url('./assets/face.jpg');
    width: 50%;
    min-height: 300px;
    -webkit-clip-path: inset(5% 7% 7% 7%);
    clip-path: inset(5% 7% 7% 7%);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

@media(min-width:768px) {
    .imageContainer {
        display: none;
    }
}