.root {
  
  margin: 0 auto;
 
  text-align: center;
  
}

.title{

    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sectionChild {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px;
}

.sectionChild > * {
  margin-bottom: 40px;
}