@import '../../styles/abstracts/';

.headline {
    display: grid;
    grid-template-columns: 7% 23% 70%;
    grid-template-areas:
        'iconSection titleSection lineSection';
    padding: 30px 0 30px 0;
}


// .icon {
//     display: block;
//     width: 40px;
//     height: 40px;
//     color: $color-font-main;
//     @include flexAbsoluteCenter;
// }

// .icon.briefCase {
//     border-radius: 50%;
//     border: 2px solid $color-contrast;
//     margin-right: 10px;
//     @include flexAbsoluteCenter;
// }

.icon.globe {
    grid-area: icon;
}

.title {
    color: $color-font-main;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sectionTitle {
    font-size: 1.4rem;
}

.experienceTitle {
    font-size: 1rem;
    grid-area: title;
}

.container {
    position: relative;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  
}

.list {
 
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: grid;
    list-style: none;
    grid-template-columns: 50% 50%;
  
    &__item {
        padding: 20px;
        height: calc(133.33px - 40px);
       border: 3px solid pink;
    }
}

.date {
    display: flex;
   
    &__date {
        margin: 0;
        @include flexAbsoluteCenter;
    }
}

.link {
    grid-area: link;
    @include flexAbsoluteCenter;
}



.lineCont {
    grid-area: lineSection;
    @include flexAbsoluteCenter;
}

.line {
    margin: 0;
    border: 2px dotted $color-contrast;
    grid-column: 3/4;
    width: 100%;
}

.lineSecond {
    position: absolute;
    top: 400%;
    left: 0%;
    transform: rotate(-90deg);
    border-bottom: 2px solid $color-contrast;
    width: 300px;
}

.lineThird {
    position: absolute;
    // top: 75px;
    // left: 20px;
    top: 0px;
    left: 0px;
    // transform: translateX(-150px) translateY(150px) rotate(-90deg);
    transform: translateX(-150px) translateY(200px) rotate(-90deg);
    box-sizing: border-box;
    border: 0.2px solid $color-font-main;
    
    width: 300px;
    // width: 270px;

    &__dots {
        width: 100%;
        position: relative;
        border: none;
    }

    .dot {
        width: 9px;
        height: 9px;
        background-color: $color-contrast;
        /* Change the color of the circles as needed */
        border-radius: 50%;
        position: absolute;
        top: 50%;
        /* Vertically center the circle on the line */
        transform: translateX(-50%) translateY(-50%);

        $element-count: 2; 
        $sum: 0%;

        @for $i from 1 through $element-count {
            $sum: $sum + calc(100% / $element-count);
            &:nth-child(#{$i + 1}) {
              left: $sum;
            }
          }

        // &:nth-child(1) {
        //     left: 0%;
        // }

        // &:nth-child(2) {
        //     left: 50%;
        // }

        // &:nth-child(3) {
        //     left: 100%;
        // }

    }
}