@import '../../styles/abstracts/';

.container {
    display: flex;
    flex-direction: column;

    &.none {
        display: none;
    }

    label {
        text-transform: capitalize;
        font-weight: 500;
        margin: 10px 0;
    }

    input {
        width: 30%;
        height: 20px;
        margin: 10px 0;
        background: none;
        border-radius: 0.3em;
        border: 1px solid $color-contrast;
       
        &:focus,
        &:active {
            outline: none;
        }
    }

    button {
        width: 10%;
        margin: 10px 0;
        padding: 5px;
        border-radius: 0.3em;
        background-color: $color-contrast;
        border: none;
        box-shadow: none;
        cursor: pointer;
        position: relative;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.5s;

        &:active,
        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: white;
            ;
        }
        .none {
            display: none;
        }
    }

    select {
        width: 10%;
        height: 20px;
    }
}

.paragraph {
    font-size: 10px;
}