@import '../../styles/abstracts/';

.container {
    display: flex;
    flex-direction: column;
}

.list {
    margin: 0;
    list-style: disc;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  
    &__item {
        margin-bottom: 40px;
        margin-left: 20px;
        list-style: none;
        &__title {
            margin: 10px 0;
        }
        a {
            font-size: 10px;
        }
    }
}

.date {
    display: flex;
   
    &__time {
        margin: 0 0 0 20px;
        @include flexAbsoluteCenter;
    }

    &__icon {
        width: 20px;
        height: 20px;
        display: block;
    }
}










