@import './styles/abstracts/';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $color-font-main;
}

a:hover {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0
}

@include respond(tablet) {
  .container {
    color: $color-font-main;
    background-color: $color-background;
    @include flexAbsoluteCenter();
    flex-direction: column;
    padding: 20px;
    min-height: 90vh;
  }

  .headline-mobile {
    display: none;
  }

  .button-download {
    display: block;
  }
}

@include respond(max-tablet) {
  .container {
    display: none;
  }

  .headline-mobile {
    display: block;
  }

  .button-download {
    display: none;
  }
}

.none {
  display: none;
}




.border-round {
  border-radius: 50%;
  border: 2px solid $color-contrast;
  margin-right: 10px;
  @include flexAbsoluteCenter;
}