.root {

  padding-left: 0;
  list-style: none;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  background-color: pink;

}

.listItem {
  margin-top: 10px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.list {
  border: 2px solid black;
  list-style: none;
}

.list > * {
  font-size: 25px;
  
}

.list svg {
  display: block;
  padding: 10px;
}






