.root {

  padding-left: 0;
  list-style: none;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  
 
}

.name {
  color: red;
}

.listItem {
  margin-top: 10px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.list > * {
  font-size: 10px;
  padding: 10px;
}



.container {
  position: relative;
}

.container > p {
  position: absolute;
}






