@import '/src/styles/index.scss';

.root {
  border: 2px solid pink;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 0;
}

@media(min-width:768px) {
  .list {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media(min-width:1000px) {
  .list {
    padding-left: 10%;
    padding-right: 0%;
    width: 30%;
  }
}

.list > * {
  display: flex;
  font-size: calc(5px + 1vh);
  padding-top: calc(0.2% + 1vh);
  padding-bottom: calc(0.2% + 1vh);
  padding-right: calc(0.2% + 1vh);;
}

@media(min-width:768px) {
  .list > * {
    font-size: calc(5px + 1.5vh);
    padding-top: calc(0.5% + 1vh);
    padding-bottom: calc(0.5% + 1vh);
    padding-right: calc(0.5% + 1vh);
  }
}

@media(min-width:1000px) {
  .list > * {
    font-size: calc(8px + 1.5vh);
    width: 100%;
  }
}

@media(min-width:1000px) {
  .list > * span{
  padding-right: calc(0.8% + 1.5vh);
}
}

@media(min-width:1000px) {
  .list > * a{
  display: inline-block;
}
}
.name {
  font-size: calc(12px + 1vh); 
  
}

.title {
  font-size: calc(10px + 1vh); 
}

@media(max-width:768px) {
  .name {
    padding-bottom: 5%;
  }
  .title {
    padding-bottom: 5%;
  }
}

@media(min-width: 768px) {
  .name {
    font-size: calc(25px + 1.2vh);
    left: 48%;
    top: 45%;
    position: absolute;
  }

  .title {
    font-size: calc(20px + 1.2vh);
    left: 45%;
    top: 55%;
    position: absolute;
  }
  
}
















