.root {
  
  
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
 flex-direction: column;

  
  /* justify-content:center;
  align-items: center; */ 


}

.name {

    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;

}

